<html>
	<head>
		<title> Pagina ejemplo de plantilla </title>
	</head>
	<body>
		<h1> Esta e suna pagina de ejemplo a partir de una plantilla </h1>
		<br>
		<p> El hostname es "{{ ansible_hostname }}" </p>
		<p> La fecha es "{{ ansible_date_time.date }}" y la hora es "{{ ansible_date_time.time }}" </p>
		<p> La direccion IP es "{{ ansible_all_ipv4_addresses[0] }}" </p>
	</body>
</html>
